
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?91zk3t');
  src:  url('../fonts/icomoon.eot?91zk3t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?91zk3t') format('truetype'),
    url('../fonts/icomoon.woff?91zk3t') format('woff'),
    url('../fonts/icomoon.svg?91zk3t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* custom-icons-style*/
.icon-Component:before {
  content: "\e904";
  color: $accent-color;
}
.icon-ic_settings:before {
  content: "\e903";
	color:  $main-color;
	font-size: 33px;
}
.icon-ic_menu:before {
  content: "\e902";
	color:  $main-color;
	font-size: 30px;
}
.icon-ic_new:before {
  content: "\e901";
	color:  $main-color;
	font-size: 33px;
}
.icon-ic_move:before {
  content: "\e900";
	font-size: 32px;
  color: $accent-color;
}
/*END custom-icons-style*/

//main styles
body{
	font-family: "RobotoLight", sans-serif;
	color: $main-color;
	background: $base-bg;
	font-size: 100%;
}
.green-color{
	background-color: $on-color;
}
.red-color{
	background-color: $off-color;
}
.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: $bg-color;

}
.wrapper{
	min-width: $min-width;
	padding: 0 16px 0 16px;
	width: 100%;
	margin: 0 auto;
	position: relative;



}

/* titles */

h1{
	font-size: 16px;
	padding:  0;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/


nav{
	height: 50px;
	border-bottom: 1px solid $accent-color;
}

.panel-top-app{
	height: 20px;
	background-color: #fff;
}

header{
	width: 100%;
	min-width: $min-width;
	text-align: left;
	order: 1;
	z-index: 10;
}
.top-panel{
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	height: 44px;
	align-items: center;
	background: $top-panel-color;
	&:after{
		content: "";
		height: 1px;
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		background-color: $second-color;
		top: 100%;
	}
}
.toggle-menu{
	display: flex;
	align-items: center;
}
.settings-block{
	display: flex;
	align-items: center;
	div.add{
		display: block;

	}
	.settings{
		display: block;
		margin-right: 15px;
	}
}
.main-title{
	font-size: 18px;
	margin-left: 15px;
	font-weight: 200;
	color: $main-color;
	font-family: "RobotoLight", sans-serif;

}

/*SLIDE tab*/
.slide-tab-panel{
	position: absolute;
	height: 40px;
	displaY: flex;
	width: 100%;
	font-family: "RobotoLight", sans-serif;
	#romb{
		content: '';
		display: block;
		position: absolute;
		top: calc(100% + .5px) ;
		left: 50%;
		height: 10px;
		width: 10px;
		background-color: $accent-color;
		transform: translate(-50%,-50%) rotate(45deg);
		z-index: 10000000;
	}
}
.sliding-line {
	height: 10px;
	width: 10px; 
	background: transparent;
	position: absolute; 
	bottom: -15px; /* Смещаем ее вниз на 2 пикселя. Здесь, как правило, задается значение эквивалентное высоте полоски, но только со знаком минус */
	left: 0;
	&:after{
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		height: 10px;
		width: 10px;
		background-color: $accent-color;
		transform: translateX(-50%)  rotate(45deg);
		display: block;
	}
}
/*End SLIDE tab*/
.content{
	min-width: $min-width;
	box-sizing: content-box;
	text-align: left;
	overflow: hidden;
  	width: 100%;
	order: 2;
	flex-grow: 1;

}
.swipe-tab{
	text-align: center;
	display: block;
	height: 100%;
	width: 100px;
	line-height: 40px;
	text-transform: uppercase;
	align-items: flex-end;
	color: $accent-color;
	opacity: 1;
	font-family: "RobotoLight", sans-serif;
}
.block-content-panel{
	user-select: none;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $bg-color;
	justify-content: space-between;
	padding: 11px 0 11px 0;
	overflow: hidden;
	border-bottom: 1px solid $second-color;
	.value-percent{
		margin-right: 0;
		font-family: "RobotoLight", sans-serif;
		transition: all 1s ease;
	}
	.data-num{
		margin-right: 0;
		font-family: "RobotoLight", sans-serif;
		transition: all 1s ease;
	}
  .btn-target {
    margin-right: -500px;
    visibility: visible;
    transition: margin 1.2s ease;
  }
}


.longpress.block-content-panel{
	border-bottom: 1px solid $second-color;
	.value-percent{
		margin-right: -500px;
		transition: margin 1s ease;
	}
	.data-num{
		margin-right: -500px;
		transition: margin 1s ease;
	}
	.btn-target{
		margin-right: 0;
		visibility: visible;
	}
}
.longpress.block-content-panel.ui-sortable-helper{
	border-bottom: 1px solid transparent;
	opacity: .9!important;
	.value-percent{
		margin-right: -500px;
		transition: margin 1s ease;
	}
	.data-num{
		margin-right: -500px;
		transition: margin 1s ease;
	}
	.btn-target {
		margin-right: 0;
		visibility: visible;
      transition: margin 1.2s ease;
	}
}
.block-content-panel.ui-sortable-handle.stop{
  .value-percent{
    margin-right: -500px;
    transition: margin 1s ease;
  }
  .data-num{
    margin-right: -500px;
    transition: margin 1s ease;
  }
  .btn-target{
    margin-right: 0;
    visibility: visible;
  }
}
.btn-target{
	position: absolute;
	right: 0;
    margin-right: -500px;
	visibility: hidden;
	top: 50%;
	transform: translateY(-50%);
	transition: margin 1.2s ease;

}
.brand-title{
	color: 	$second-color;
	font-family: "RobotoLight", sans-serif;
	font-size: 12px;
	line-height: 16px;
	display: block;
	overflow: hidden;
	min-width: 70%;
	max-width: 70%;
	white-space: nowrap;
}
.data-num{
	color: $main-color;
	font-size: 12px;
	display: flex;
	font-family: "RobotoLight", sans-serif;
	justify-content: flex-end;
	flex: 1;
}
#swipe-tabs-cont{
	touch-action: auto;
}
.value-num{
	text-align: right;
	overflow: hidden;
	.count-num{
		font-family: "RobotoLight", sans-serif;
		color: $main-color;
		font-size: 24px;
		line-height: 24px;
	}
	span{
		font-family: "RobotoLight", sans-serif;
		color: $accent-color;
		line-height: 24px;
		font-size: 24px;
	}
}
.top-content-panel{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.wrapp-elem{
	padding-top: 1px;
  display: flex;
  flex-direction: row;
	align-items: center;
  justify-content: space-between;
  width: 70%;
}
.bottom-content-panel{
	padding-top: 1px;
	width: 100%;
	height: 24px;
	margin-top: 7px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.abbreviation{
		display: flex;
		overflow: hidden;
		.abbr-title{
			font-size: 24px;
			line-height: 24px;
			font-family: "RobotoLight", sans-serif;
			text-transform: uppercase;
		}
		.sup-title{
			position: relative;
			color: $accent-color;
			margin-left: 5px;
			display: flex;
			font-size: 12px;
			line-height: 16px;
			text-transform: uppercase;
			font-family: "RobotoLight", sans-serif;
			&:after{
			content: "";
			display: block;
			position: absolute;
			bottom: 3px;
			left: 0;
			width: 100%;
			height: 1px;
				font-family: "RobotoLight", sans-serif;
			background-color: $on-color;
		}
		}
		.sup-title.on{
			&:after{
				content: "";
				background-color: $on-color;
			}
		}
		.sup-title.off{
			&:after{
				content: "";
				background-color: $off-color;
			}

		}

	}
	.value-percent{
		text-align: center;
		background: $off-color;
		height: 24px;
		width: 90px;
		border-radius: 2px;
		span{
			font-size: 14px;
			line-height: 23px;
			height: 23px;
			font-family: "RobotoLight", sans-serif;
		}
	}
	.value-percent.on{
		background-color: $on-color;
	}
	.value-percent.off{
		background-color: $off-color;
	}
	.btn-sand{
		align-self: flex-start;
		font-size: 20px;
		margin-bottom: 10px;
	}
}




footer{
	height: 80px;
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;
}
.hide{
	display: none;
	opacity: 0;
	transition: all 1s;
}
.elem{
	position: relative;
	opacity: 1;
	width: 100%;
	height: 100%;
	z-index: 10000;
}
.no{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: calc(100vh - 104px);
	.circle-overlay{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 152px;
		height: 152px;
		display: flex;
		border-radius: 50%;
		background: rgba(51, 46, 50, 0.8);
		z-index: 10;
		transform: translate(-50%,-50%);
	}
	.icon-Component{
		font-size: 71px;
		line-height: 152px;
		display: flex;
		margin: auto;
		justify-content: center;
		text-align: center;
	}

}
.sortable-placeholder{
	height: 70px;
	background-color: $bg-color;
	border-bottom: 1px solid $second-color;
}
@media screen and (max-width: 350px) {
  .slick-slider{
    .slick-slide{
      width: 130px;
    }
  }
	.wrapp-elem{
		padding-top: 2px;
	}
	.brand-title{
		font-size: 11px;
		line-height: 15px;
	}
	.data-num{
		font-size: 11px;
		line-height: 15px;
	}
	.value-num{
		text-align: right;
		overflow: hidden;
	}
.bottom-content-panel {
	margin-top: 5px;
	.value-percent {
		width: 80px;
		height: 24px;
		span {
			font-size: 12px;
			line-height: 24px;
		}
	}
	.value-num{
		line-height: 22px;
		padding-top: 1px;
		.count-num{
			line-height: 22px;
			font-size: 22px;

		}
		span{
			line-height: 22px;
			font-size: 22px;
		}
	}
	.abbreviation {
		.abbr-title {
			line-height: 22px;
			font-size: 22px;
		}
		.sup-title {
			font-size: 10px;
			line-height: 16px;
		}

	}
}

}
@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}



